﻿body {
    font-family:Verdana;
    font-size: smaller;
}

#body{
    min-height: 600px;
}

/*---------------HEADER---------------------*/

header {
    height:100px;
    background-color: #315e95;
    margin-bottom:30px;
}

#logo {
    position: relative;
    left:30px;
    top:10px;
    display: inline;
}

#login{
    display: inline;
    float:right;
    position: relative;
    right: 30px;
    font-weight:bold;
}

    #login p{
        color:white;
    }

/*---------------MENU BAR-------------------*/

ul#menuBar {
    display:inline;
}

ul#menuBar li{
    list-style-type: none;
    display: inline;
    text-decoration: none;
    float:right;
    height:30px;
    line-height: 30px;
    padding-left: 5px;  
    padding-right: 5px;
    margin-right: 2px;
    background-color: #35b3fd;
    background: -webkit-linear-gradient(bottom, #315e95, #35b3fd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #315e95, #35b3fd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #315e95, #35b3fd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(bottom, #315e95, #35b3fd); /* Standard syntax */
    border-color: white;
    border-width: 2px;
    border-style: solid;
    position: relative;
    bottom: 17px;
    right: 60%;
}

    ul#menuBar li a {
            background: none;
            color: white;
            text-decoration: none;
            font-weight: bold;
        }

    ul#menuBar li a:hover {
            color: white;
            text-decoration: none;
        }

#menuBar li:hover, #menuBar li:visited {
    color:black;
}

/*----------------------TABLES--------------------*/

#requests {
    width: 80%;
    position: relative;
    left: 15%;

}

#requests td, #requests th {
    font-size: 1em;
    padding: 3px 7px 2px 7px;
    text-align: center;
}

#requests th {
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #315E95;
    color: #ffffff;
    font-size: larger;
    font-weight: bold;
}

#requests tr:nth-child(odd) td {
    color: #000000;
    background-color: #76B9E6;
}

/*----------------------Login--------------------*/

#tableLogIn {
                
    font-size:20px;
    color:white;
    box-shadow: inset 0px 0px 20px 5px #DCDCDC;

    background-color: #315e95;
    padding:30px;   
    border-style:solid ;
    border-width: 2px;       
    border-color: red;                       
    margin-top: 20%;
    margin-bottom: 25%;

    max-width:200px;
    max-height:150px;

    position:relative;
    left:35%;
    right:35%;
    width:30%;
}

#TriangleLogIn {
    position: absolute;
    left:70%;
    display: inline;
}

#login{
    display: inline;
    float:right;
    position: relative;
    right: 30px;
    font-weight:bold;
}

    #login p{
        color:white;
    }


/*----------------------BackOffice--------------------*/

.ElemSize{
    display: inline;
    float:right;
    position: relative;
    right: 30px;
    font-weight:bold;
    margin:100px;
}


.CabecalhoPedido {
    display:block;
    background-color:#b0c4de;
    padding:10px;
}

#Requestdescription {
    padding:20px;
    font-size:30px;   
    margin-bottom:10px;
}