﻿@model iDesk_Projeto.Models.HistoryRequests

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do Pedido</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.submitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.submitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.closeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.closeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area1.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Computers.hostname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Computers.hostname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priorities.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priorities.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.submitUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.submitUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.responsible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.responsible)
        </dd>

    </dl>
</div>
<hr />
<p>
    @Html.ActionLink("Reabrir Pedido", "EditHRequest", new { id = Model.id }) |
    @Html.ActionLink("Voltar á lista", "Index")
</p>
