﻿@model iDesk_Projeto.Models.HistoryRequests

@{
    ViewBag.Title = "Reabrir Pedido";
}

<h2>Informação do Pedido</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.submitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.submitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.closeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.closeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area1.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Computers.hostname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Computers.hostname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priorities.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priorities.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.submitUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.submitUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.responsible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.responsible)
        </dd>

    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.submitDate)
    @Html.HiddenFor(model => model.title)
    @Html.HiddenFor(model => model.description)
    @Html.HiddenFor(model => model.priority)
    @Html.HiddenFor(model => model.submitUser)
    @Html.HiddenFor(model => model.responsible)
    @Html.HiddenFor(model => model.serialNumber)
    @Html.HiddenFor(model => model.area)


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="ReabrirPedido" class="btn btn-default" />
        </div>
    </div>
 
}
<hr />
<div>
    @Html.ActionLink("Voltar á lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
