﻿@model IEnumerable<iDesk_Projeto.Models.HistoryRequests>

@{
    ViewBag.Title = "Closed";
}

<h2>Pedidos Fechados</h2>
<hr />
<div>
    <form method="get">
        <input type="search" name="searchTerm" />
        <input type="submit" value="Filtrar por Título" />
    </form>

    <table id="requests">
        <tr>
            <th>Título</th>
            <th>Área</th>
            <th>Data-Criação</th>
            <th>Data-Fecho</th>
            <th>Operações</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                @Html.Partial("_tableHRequestDetail", item)
                <td>
                    @Html.ActionLink("Detalhes", "Details", new { id = item.id }) |
                    @Html.ActionLink("Reabrir Pedido", "EditHRequest", new { id = item.id })                    
                </td>
            </tr>
        }
    </table>
</div>










@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.submitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.closeDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area1.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Computers.hostname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priorities.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users1.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.submitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.closeDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area1.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Computers.hostname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priorities.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users1.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>*@
