﻿@model IEnumerable<iDesk_Projeto.Models.HistoryRequests>

<table id="requests">
    <tr>
        <th>Título</th>
        <th>Área</th>
        <th>Data-Criação</th>
        <th>Data-Fecho</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @Html.Partial("_tableHRequestEdit", item)
        </tr>
    }
</table>

