﻿@model IEnumerable<iDesk_Projeto.Models.Requests>


    <table id="requests">
        <tr>
            <th>Título</th>
            <th>Área</th>
            <th>Data - Hora</th>
            <th>Prioridade</th>
        </tr>
        @foreach (var item in Model)
        {
     
            <tr>
                @Html.Partial("_tableRequestEdit", item)    
            </tr>
        }
    </table>


