﻿
          
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_BLayout.cshtml";
}

<h1>Dashboard</h1>
<hr />
<div>
    <h3>Por Atribuir</h3>
    @Html.Action("UnsignedRequests", "BHome")
</div>
<div>
    <h3>Pendentes</h3>
    @Html.Action("PendingRequests", "BHome")
</div>

<hr />
<hr />
<div>
    <h3>Os Meus Pedidos Fechados</h3>
    @Html.Action("myHRequests", "BHome")
</div>

<div>
    <h3>Fechados</h3>
    @Html.Action("allHRequests", "BHome")
</div>
<hr />



