﻿@model iDesk_Projeto.Models.Requests

@{
    ViewBag.Title = "EditRequest";
    Layout = "~/Views/Shared/_BLayout.cshtml";
}
<h2>Informação do Pedido</h2>
<hr />
<div class="CabecalhoPedido">
    <label><b>De:</b></label><label> @Html.DisplayFor(model => model.submitUser)</label>
    <div></div>
    <label><b>Para:</b></label><label> @Html.DisplayFor(model => model.Area1.name)</label>
    <div></div>
    <label><b>Assunto:</b></label><label> @Html.DisplayFor(model => model.title)</label>
</div>
<hr />

<div id="Requestdescription">
    @Html.DisplayFor(model => model.description)
</div>


<div>
    <b> Criado em:</b>
    @Html.DisplayFor(model => model.submitDate)
    <b>Prioridade</b>
    @Html.DisplayFor(model => model.Priorities.type)
    <b>Equipamento:</b>
    @Html.DisplayFor(model => model.Computers.hostname)
</div>

<div>
    <label><b>Responsável:</b></label>
    @Html.DisplayFor(model => model.responsible)
</div>


<br />

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.submitDate)
        @Html.HiddenFor(model => model.title)
        @Html.HiddenFor(model => model.description)
        @Html.HiddenFor(model => model.closeDate)
        @Html.HiddenFor(model => model.closed)
        @Html.HiddenFor(model => model.serialNumber)
        @Html.HiddenFor(model => model.area)
        @Html.HiddenFor(model => model.priority)
        @Html.HiddenFor(model => model.submitUser)
        @Html.HiddenFor(model => model.responsible)


        @if (Model.responsible != null)
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Fechar pedido" />
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Assignar pedido" />
                </div>
            </div>
        }
    </div>
}

<p>
    @Html.ActionLink("Back to List", "Dashboard")
</p>
