﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div id="logo">
            <img src="~/Images/Logo_iDesk.png" />
        </div>
        <div id="login">
            <a href="/Login/LogIn"><p>Log Out</p></a>
        </div>
        <div>
            <nav>
                <ul id="menuBar">
                    <li>@Html.ActionLink("Fechados", "Index", "HistoryRequests")</li>
                    <li>@Html.ActionLink("Pendentes", "Index", "Requests")</li>
                    <li>@Html.ActionLink("Novo Pedido", "Create", "Requests")</li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>

    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Criado por <b>Tiago Sousa</b> e <b>Andre Roque</b></p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
