﻿@model iDesk_Projeto.Models.Requests

<td>
    @Html.ActionLink(Model.title, "EditRequest", new { id = Model.id })
</td>
<td>
    @Html.DisplayFor(modelModel => Model.Area1.name)
</td>
<td>
    @Html.DisplayFor(modelModel => Model.submitDate)
</td>
<td>
    @Html.DisplayFor(modelModel => Model.priority)
</td>
