﻿
@model iDesk_Projeto.Models.HistoryRequests

<td>
    @Html.ActionLink(Model.title, "EditHRequest", new { id = Model.id })
</td>
<td>
    @Html.DisplayFor(modelModel => Model.Area1.name)
</td>
<td>
    @Html.DisplayFor(modelModel => Model.submitDate)
</td>
<td>
    @Html.DisplayFor(modelModel => Model.closeDate)
</td>
