﻿@model iDesk_Projeto.Models.LogInModel

@{
   // ViewBag.Title = "LogIn";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <img id="TriangleLogIn" src="~/Images/TriangleCut.png" />  
        <div id="logo">
            <img src="~/Images/Logo_iDesk.png" />      
        </div>
    </header>
    <div id="body">
      
        <section id="loginForm">
            <h2>Use a local account to log in.</h2>
            @using (Html.BeginForm(new { returnUrl = ViewBag.returnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Log in Form</legend>
                    <ol>
                        <li>
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email)
                            @Html.ValidationMessageFor(m => m.Email)
                        </li>
                        <li>
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password)
                        </li>
                    </ol>
                    <input type="submit" value="Log in" />
                </fieldset>
            }
        </section>

    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Criado por <b>Tiago Sousa</b> e <b>Andre Roque</b></p>
            </div>
        </div>
    </footer>

</body>
</html>
