﻿@model iDesk_Projeto.Models.Requests

@{
    ViewBag.Title = "Delete";
}

<h2>Apagar Pedido</h2>
<h3>Tem a certeza que pretende apagar o pedido?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.submitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.submitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Area1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area1.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Computers.hostname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Computers.hostname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priorities.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priorities.type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.submitUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.submitUser)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default" /> 
        </div>
    }
    <hr />
    <div>
        @Html.ActionLink("Voltar á lista", "Index")
    </div> 
</div>
