﻿@model iDesk_Projeto.Models.Requests

@{
    ViewBag.Title = "Edit Request";
}

<h2>Editar Pedido</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.submitUser)
        @Html.HiddenFor(model => model.title)
        @Html.HiddenFor(model => model.submitDate)
        @Html.HiddenFor(model => model.closeDate)
        @Html.HiddenFor(model => model.closed)
        @Html.HiddenFor(model => model.responsible)


        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description)
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.serialNumber, "serialNumber", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("serialNumber", String.Empty)
                @Html.ValidationMessageFor(model => model.serialNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.area, "area", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("area", String.Empty)
                @Html.ValidationMessageFor(model => model.area)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.priority, "priority", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("priority", String.Empty)
                @Html.ValidationMessageFor(model => model.priority)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<hr />
<div>
    @Html.ActionLink("Voltar á lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
