﻿@model IEnumerable<iDesk_Projeto.Models.Requests>

@{
    ViewBag.Title = "Pending";
}

<h2>Pedidos Pendentes</h2>
<hr />
<div>
    <form method="get">
        <input type="search" name="searchTerm" />
        <input type="submit" value="Filtrar por Título" />

    </form>


    <table id="requests">
        <tr>
            <th>Título</th>
            <th>Área</th>
            <th>Data - Hora</th>
            <th>Prioridade</th>
            <th>Operaçoes</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
               @Html.Partial("_tableRequestDetail", item)
                <td>
                    @Html.ActionLink("Detalhes", "Details", new { id = item.id }) |
                    @Html.ActionLink("Editar", "EditRequest", new { id = item.id }) |  
                    @Html.ActionLink("Apagar", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </table>
</div>


