﻿@model IEnumerable<iDesk_Projeto.Models.HistoryRequests>

@{
    ViewBag.Title = "Closed";
}

<div>
    <form method="get">
        <input type="search" name="searchTerm" />
        <input type="submit" value="Filtrar por titulo" />

    </form>

    <table id="requests">
        <tr>
            <th>Título</th>
            <th>Área</th>
            <th>Data-Criação</th>
            <th>Data-Fecho</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.submitDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.closeDate)
                </td>
            </tr>
        }
    </table>
</div>

