﻿@model iDesk_Projeto.Models.Requests

@{
    ViewBag.Title = "Details";
}

<h2>Details </h2>

<div>
    <hr />
    <dl>
        <dt>
            <b>@Html.DisplayNameFor(model => model.submitDate) </b>
             @Html.DisplayFor(model => model.submitDate)
        </dt>

        <dt>
            <b>@Html.DisplayNameFor(model => model.title)</b>
            @Html.DisplayFor(model => model.title)
        </dt>

        <dt>
            <b>@Html.DisplayNameFor(model => model.description)</b>
            @Html.DisplayFor(model => model.description)
        </dt>
        <dt>
            <b>@Html.DisplayNameFor(model => model.closed)</b>
            @Html.DisplayFor(model => model.closed)
        </dt>
        <dt>
            <b> @Html.DisplayNameFor(model => model.Area1.name) </b>
            @Html.DisplayFor(model => model.Area1.name)
        </dt>
        <dd>
          
 

        <dt>
            <b>@Html.DisplayNameFor(model => model.Computers.hostname)</b>
            @Html.DisplayFor(model => model.Computers.hostname)
        </dt>


        <dt>
            <b>@Html.DisplayNameFor(model => model.Priorities.type)</b>
            @Html.DisplayFor(model => model.Priorities.type)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Users.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users1.name)

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
