﻿@model iDesk_Projeto.Models.Requests

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Requests</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.submitDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.submitDate)
                @Html.ValidationMessageFor(model => model.submitDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title)
                @Html.ValidationMessageFor(model => model.title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description)
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.closeDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.closeDate)
                @Html.ValidationMessageFor(model => model.closeDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.closed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.closed)
                @Html.ValidationMessageFor(model => model.closed)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.serialNumber, "serialNumber", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("serialNumber", String.Empty)
                @Html.ValidationMessageFor(model => model.serialNumber)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.area, "area", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("area", String.Empty)
                @Html.ValidationMessageFor(model => model.area)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.priority, "priority", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("priority", String.Empty)
                @Html.ValidationMessageFor(model => model.priority)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.submitUser, "submitUser", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("submitUser", String.Empty)
                @Html.ValidationMessageFor(model => model.submitUser)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.responsible, "responsible", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("responsible", String.Empty)
                @Html.ValidationMessageFor(model => model.responsible)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
